html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Apple Chancery, cursive;
    background-color: #efeeea;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    width: 30px;
}

.nav-section {
    flex: 1 0 0;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
}


.homebutton {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #3a8149;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}   

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.recipe {
    margin-bottom: 2rem;
    justify-content: center;
    padding-left: 20%;
}