.topnav {
    justify-content: right;
    display: flex;
    background-color: #ebe7d7;
    padding: 1rem;
    width: 100%;
    color: #3a8149;
    box-sizing: border-box;
}

.topnav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #3a8149;
    font-weight: bold;
}
.topnav a:hover {
    color: #489e5b;
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
body {
    font-family: Apple Chancery, cursive;
    margin: 0;
    padding: 0;
    background-color: #efeeea;
    justify-content: center;
}


h1 {
    text-align: center;
}